
<div id="contenido">
	<div id="barra-der">
		<div id="slider-index">
			
		</div>
		<div id="caballos-index">
			
		</div>
	</div>
	<div id="barra-izq">
		<div id="videos-index">
			<div class="videoIndex">
				
			</div>
			<div class="videoIndex">
				
			</div>
			<div class="videoIndex">
				
			</div>
			<div class="videoIndex">
				
			</div>
		</div>
		<div id="eventos-index">
			
		</div>
		<div id="contacto-index">
			
		</div>	

	</div>
</div>

